.about-container {
  margin: 0 auto $section-margin-bottom--small auto;
  max-width: $section-max-width;
  text-align: center;
  padding: $section-left-right-padding;
  padding-top: $section-top-padding;
  &__title {
    @include title-style;
  }

  .about-content {
    font-size: $content-font-size;
    line-height: 1.7rem;
  }
}

@media (min-width: 768px) {
  .about-container {
    &__title {
      font-size: $h3-title-size;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    padding: $section-left-right-padding--tablet;
    padding-top: $section-top-padding;
  }
}

@media (min-width: 1025px) {
  .about-container {
    padding: $section-left-right-padding--desktop;
    padding-top: $section-top-padding;
  }
}
