.about-container {
  text-align: center;
  padding: $section-left-right-padding;
  padding-top: 5rem;
  &__title {
    color: $sec-color;
    font-size: $h3-title-size;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  .about-content {
    line-height: 1.5rem;
    letter-spacing: 2px;
  }
}
