.action-container {
  padding: $section-left-right-padding;
  margin-bottom: $section-margin-bottom;
  .action-title-container {
    &__title {
      color: $sec-color; //can be changed
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    &__text {
      font-size: 1.3rem;
      text-align: center;
    }
    margin-bottom: $title-bottom-margin;
  }

  &__list {
    @include flex;
    flex-direction: column;
    .action-container-item {
      border-radius: 10px; 
      box-shadow: 10px 10px 15px black;
      margin-bottom: 2rem;
      max-width: 270px;
      height: 300px;
      transition: transform 200ms ease-in;
      width: 70%;
      &__link {
        @include background-cover;
        align-items: flex-end;
        border-radius: 10px;
        color: whitesmoke;
        display: flex;
        font-size: 1.4rem;
        padding: 1rem;
        height: 100%;
        width: 100%;
      }
      &__link--bg-entrepreneur {
        background: url('../../assets/business-man--400w.jpg');
      }
      &__link--bg-traveler {
        background: url('../../assets/traveler--400w.jpg');
      }
      &__link--bg-artist {
        background: url('../../assets/guitar-player--400w.png');
      }
    }
    .action-container-item--margin-zero {
      margin: 0 !important;
    }
    .action-container-item:hover  {
        transform: translateY(-10px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .action-container {
    padding: $section-left-right-padding--tablet !important;
    &__list {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .action-title-container {
    &__title {
      color: $sec-color; //can be changed
      font-size: 1.7rem !important;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    &__text {
      font-size: 1.5rem !important;
      text-align: center;
    }
    margin-bottom: $title-bottom-margin;
  }

  .action-container-item {
    width: 30% !important;
    max-width: 260px !important;
    margin-bottom: 0 !important;

    &__link {
      font-weight: 500;
      font-size: 1.5rem !important;
    }
  }
}
