.action-container {
  padding: $section-left-right-padding;
  margin-bottom: $section-margin-bottom;
  .action-title-container {
    &__title {
      color: $sec-color; //can be changed
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 0.4rem;
    }
    &__text {
      font-size: 1.3rem;
      text-align: center;
    }
    margin-bottom: $title-bottom-margin;
  }

  &__list {
    @include flex;
    flex-direction: column;
    .action-container-item {
      margin-bottom: 2rem;
      width: 70%;
      height: 300px;
      &__link {
        @include background-cover;
        align-items: flex-end;
        border-radius: 10px;
        color: whitesmoke;
        display: flex;
        font-size: 1.4rem;
        padding: 1rem;
        height: 100%;
        width: 100%;
      }
      &__link--bg-entrepreneur {
        background: url('../../assets/business-man--400w.jpg');
      }
      &__link--bg-traveler {
        background: url('../../assets/traveler--400w.jpg');
      }
      &__link--bg-artist {
        background: url('../../assets/guitar-player--400w.png');
      }
    }
    .action-container-item--margin-zero {
      margin: 0 !important;
    }
  }
}
