.action-container {
  margin: 0 auto $section-margin-bottom auto;
  max-width: $section-max-width;
  padding: $section-left-right-padding;

  .action-title-container {
    &__title {
      color: $sec-color; //can be changed
      font-size: 1.4rem;
      margin-bottom: 0.4rem;
      text-align: center;
    }
    &__text {
      font-size: 1.3rem;
      text-align: center;
    }
    margin-bottom: $title-bottom-margin;
  }

  &__list {
    @include flex;
    flex-direction: column;
    .action-container-item {
      border-radius: 10px;
      box-shadow: 10px 10px 15px black;
      height: 300px;
      margin-bottom: 2rem;
      max-width: 270px;
      transition: transform 200ms ease-in;
      width: 70%;
      &__link {
        @include background-cover;
        align-items: flex-end;
        border-radius: 10px;
        color: whitesmoke;
        display: flex;
        font-size: 1.4rem;
        height: 100%;
        padding: 1rem;
        width: 100%;
      }
      &__link--bg-entrepreneur {
        background: url('../../assets/business-man--400w.jpg');
      }
      &__link--bg-traveler {
        background: url('../../assets/traveler--400w.jpg');
      }
      &__link--bg-artist {
        background: url('../../assets/guitar-player--400w.png');
      }
    }
    .action-container-item--margin-zero {
      margin: 0 !important;
    }
    .action-container-item:hover {
      transform: translateY(-10px);
    }
  }
}

@media (min-width: 768px) {
  .action-container {
    &__list {
      flex-direction: row;
    }
  }
}

@media (min-width: 768px) {
  .action-container {
    padding: $section-left-right-padding--tablet;
    &__list {
      justify-content: space-between;
    }
    .action-title-container {
      &__title {
        color: $sec-color; //can be changed
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 0.4rem;
      }
      &__text {
        font-size: 1.5rem;
        text-align: center;
      }
      margin-bottom: $title-bottom-margin;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .action-container {
    .action-container-item {
      margin-bottom: 0;
      max-width: 260px;
      height: 330px;
      width: 30%;
      &__link {
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 1025px) {
  .action-container {
    padding: $section-left-right-padding--desktop;
    &__list {
      justify-content: space-around;
      .action-container-item {
        height: 350px;
        max-width: 250px;
        &__link {
          font-size: 1.6rem;
        }
      }
    }
  }
}
