*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background: none;
}