@import 'variables';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $main-color;
  color: aliceblue;
  font-family: $mont;
  padding-bottom: 1rem;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: none;
}
