.footer-container {
  margin: 0 auto;
  max-width: $section-max-width;
  padding: $section-left-right-padding;
  .home-footer {
    @include flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__text {
      margin-bottom: 0.7rem;
    }
    &__freepik-link {
      color: whitesmoke !important;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      transition: $link-transition;
    }
    &__freepik-link:hover {
      color: #afafaf !important;
    }
  }
}

@media (min-width: 768px) {
  .footer-container {
    .home-footer {
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    padding: $section-left-right-padding--tablet;
    .home-footer {
      &__freepik-link {
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 1025px) {
  .footer-container {
    padding: $section-left-right-padding--desktop;
  }
}
