.footer-container {
  padding: $section-left-right-padding;
  .home-footer {
    @include flex;
    justify-content: space-between;
    &__freepik-link {
      color: whitesmoke !important;
      font-size: 0.9rem;
      text-align: center;
      transition: $link-transition;
    }
    &__freepik-link:hover {
      color: #afafaf !important;
    }
  }
 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    padding: $section-left-right-padding--tablet;
    .home-footer {
      &__freepik-link {
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 1025px) {
  .footer-container {
    padding: $section-left-right-padding--desktop;
  }
}