.hero-container {
  margin-bottom: 4rem;
  .hero-content {
    &__title {
      font-family: 'Roboto', sans-serif;
      font-size: 1.75rem;
      text-align: center;
      margin-bottom: 0.7rem;
    }
    &__text {
      font-family: $mont;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
