.hero-container {
  padding: $section-left-right-padding;
  margin-bottom: $title-bottom-margin;
  .hero-content {
    margin-bottom: 5rem;

    &__title {
      color: $sec-color;
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 0.7rem;
    }
    &__text {
      font-family: $mont;
      font-size: 1.3rem;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .hero-container {
    .hero-content {
      &__title {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      &__text {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-container {
    padding: $section-left-right-padding--tablet;
  }
}


@media (min-width: 1025px) {
  .hero-container {
    padding: $section-left-right-padding--desktop;
  }
}