@import './mixins';
.menu-bar {
  appearance: none;
  align-items: center;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  position: fixed;
  right: 1rem;
  top: 13px;
  outline: none;
  width: 25px;
  z-index: 1001;
  &__item {
    @include hamburger-bar;
    @include bar-transition;
  }
}

.menu-bar::before {
  @include hamburger-bar;
  @include bar-transition;
  content: '';
  position: absolute;
  transform: translateY(-8px);
}

.menu-bar::after {
  @include hamburger-bar;
  @include bar-transition;
  content: '';
  position: absolute;
  transform: translateY(8px);
}

.menu-bar--open .menu-bar__item {
  transform: translateX(60px);
  opacity: 0;
}

.menu-bar--open.menu-bar::before {
  transform: rotate(45deg);
}

.menu-bar--open.menu-bar::after {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .menu-bar {
    display: none;
  }
}
