@mixin flex {
  align-items: center;
  display: flex;
}

@mixin hamburger-bar {
  background: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  width: 25px;
}

@mixin bar-transition {
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@mixin background-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

