@mixin flex {
  align-items: center;
  display: flex;
}

@mixin hamburger-bar {
  background: black;
  border: 1px solid $third-color;
  border-radius: 5px;
  outline: none;
  width: 25px;
}

@mixin bar-transition {
  transition-property: transform, opacity, border-color;
  transition-duration: 0.5s, 0.5s, 200ms;
  transition-timing-function: ease-in-out;
}

@mixin menu-link-transition {
  transition: color 100ms ease-in;
}

@mixin background-cover {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

@mixin title-style {
  border-bottom: $title-border-bottom;
  color: $sec-color;
  font-size: $h3-title-size;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  padding-bottom: .5rem;
  text-align: center;
  width: max-content;
}



