@import './variables';
.mobile-menu {
  background: #747474;
  display: block;
  height: 101vh;
  position: fixed;
  padding: 6rem 2rem;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-1500px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 101vw;
  &__list {
    display: flex;
    flex-direction: column;
    .mobile-menu-item {
      display: flex;
      padding: 0.4rem 0;
      justify-content: center;
      margin-bottom: 1rem;
      &__link {
        color: $sec-color;
        font-size: 2rem;
      }
    }
  }
}

.mobile-menu--open {
  opacity: 1;
  transform: translateY(0);
}
