@import './variables';

.mobile-menu {
  background: #393e46;
  display: flex;
  flex-direction: column;
  height: 101vh;
  justify-content: space-between;
  left: 0;
  opacity: 0;
  padding-bottom: 3rem;
  position: fixed;
  top: 0;
  transform: translateY(-1500px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 101vw;
  z-index: 1000;
}
.mobile-menu-nav {
  margin-bottom: 1rem;
  padding: 6rem 2rem 0 2rem;
  &__list {
    display: flex;
    flex-direction: column;
    .mobile-menu-nav-item {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      padding: 0.4rem 0;
      &__link {
        @include menu-link-transition;
        color: $sec-color;
        font-size: 2rem;
      }
      &__link:active {
        outline: none !important;
      }
      &__link:hover {
        color: $sec-color-dark;
      }
    }
  }
}

.mobile-menu--open {
  opacity: 1;
  transform: translateY(0);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
