@import './variables';

.mobile-menu {
  background: #393e46;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 101vh;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-1500px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 101vw;
}
.mobile-menu-nav {
  margin-bottom: 1rem;
  padding: 6rem 2rem 0 2rem;
  &__list {
    display: flex;
    flex-direction: column;
    .mobile-menu-nav-item {
      display: flex;
      padding: 0.4rem 0;
      justify-content: center;
      margin-bottom: 1rem;
      &__link {
        color: $sec-color;
        font-size: 2rem;
      }
    }
  }
}

.mobile-menu--open {
  opacity: 1;
  transform: translateY(0);
}
