.quote-container {
  margin: 0 auto $section-margin-bottom--small auto;
  margin-bottom: $section-margin-bottom--small;
  max-width: $section-max-width;
  padding: $section-left-right-padding;
  &__title {
    @include title-style;
  }
  .quote-content-container {
    &__content {
      margin-bottom: $title-bottom-margin + 2rem;
    }
    &__img-container {
      border-radius: 50%;
      height: 100px;
      margin: 0 auto $quote-img-margin-bottom auto;
      width: 100px;
    }
    &__img {
      border-radius: 50%;
      height: 100px;
      object-fit: cover;
      width: 100px;
    }

    &__text-container {
      font-size: $content-font-size;
      text-align: center;
    }
    &__text {
      line-height: 1.5rem;
      margin-bottom: $quote-credit-margin-bottom;
    }
    &__credit {
      color: #a6a9ad;
      font-style: italic;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .quote-container {
    &__title {
      font-size: $h3-title-size;
      margin-bottom: 2rem;
    }
    .quote-content-container {
      display: flex;
      &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
        margin-right: 1.2rem;
      }
      &__credit {
        text-align: center;
      }
    }
    .quote-content-container__content--no-margin {
      margin-right: 0 !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote-container {
    padding: $section-left-right-padding--tablet;
  }
}

@media (min-width: 1025px) {
  .quote-container {
    padding: $section-left-right-padding--desktop;
    .quote-content-container {
      &__content {
        margin-bottom: 0 !important;
        margin-right: 2rem;
      }
    }
  }
}
