.quote-container {
  margin-bottom: $section-margin-bottom--small;
  padding: $section-left-right-padding;
  &__title {
    @include title-style;
  }
  .quote-content-container {
    &__content {
      margin-bottom: $title-bottom-margin + 2rem;
    }
    &__img-container {
      border-radius: 50%;
      height: 100px;
      margin: 0 auto $quote-img-margin-bottom auto;
      width: 100px;
    }
    &__img {
      border-radius: 50%;
      height: 100px;
      object-fit: cover;
      width: 100px;
    }

    &__text-container {
      font-size: 1.2rem;
      text-align: center;
    }
    &__text {
      line-height: 1.7rem;
      margin-bottom: $quote-credit-margin-bottom;
    }
    &__credit {
      color: #a6a9ad;
      font-size: 1.1rem;
      font-style: italic;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .quote-container {
    &__title {
      @include title-style;
    }
    .quote-content-container {
      display: flex;
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
      }
      &__credit {
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote-container {
    padding: $section-left-right-padding--tablet;
    &__title {
      @include title-style;
      margin-bottom: 2rem !important;
      font-size: $h3-title-size--tablet !important;
    }
    .quote-content-container {
      &__content {
        margin-right: 1.2rem;
        margin-bottom: 0 !important;
      }
      &__img-container {
        border-radius: 50%;
        height: 100px;
        margin: 0 auto $quote-img-margin-bottom auto;
        width: 100px;
      }
      &__text-container {
        font-size: 1rem;
      }
      &__text {
        font-size: 1rem !important;
        margin-bottom: $quote-credit-margin-bottom;
      }
    }
  }
  .quote-content-container__content--no-margin {
    margin-right: 0 !important;
  }
}
