.site-top-btn {
  background: #4b505ac5;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  cursor: pointer;
  display: none;
  font-size: 2.2rem;
  height: 50px;
  position: fixed;
  right: 10px;
  transition: transform 500ms ease-in-out;
  transform: translateY(100px);
  width: 50px;
  &__icon {
    color: #eeeeee;
  }
}

.site-top-btn:hover {
  background-color: #4b505ae0;
}
.site-top-btn:active {
  background-color: #4b505a;
}

.site-top-btn--active {
  display: block;
  transform: translateY(0px);
}
