.site-top-btn {
  background: #4b505ac5;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  cursor: pointer;
  font-size: 2.2rem;
  height: 50px;
  position: fixed;
  right: 10px;
  transition: transform 500ms ease-in-out;
  transform: translateY(100px);
  width: 50px;
  &__icon {
    color: #eeeeee;
  }
}

.site-top-btn:hover {
  background-color: #4b505ae0;
}

.site-top-btn:focus {
  outline: none;
}
.site-top-btn:active {
  background-color: #474b55e0;
}

.site-top-btn--active {
  transform: translateY(0px);
}

@media (min-width: 1024px) {
  .site-top-btn {
    right: 20px;
    bottom: 20px;
  }
}
