@import './mixins';
@import './variables';

.site-head {
  background: $site-sec-color;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100vw;
}

.site-head-nav-container {
  @include flex;
  width: 100%;
  justify-content: space-between;
  .site-head-nav {
    display: none;
    flex: 1;
    width: max-content;
    &__list {
      font-size: 1.3rem;
      @include flex;
      justify-content: center;
    }
  }

  &__link {
    color: #f5f4f4 !important;
  }

  &__logo {
    flex: 1;
    user-select: none;
    @include flex;
    font-family: $mont;
    .logo-half {
      color: $sec-color !important;
    }
  }

  .header-item {
    margin-right: 20px;
  }

  .site-head-menu-nav {
    display: none;
    flex: 1;
    &__list {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.site-head-nav-item {
  &__link {
    @include menu-link-transition;
    color: $third-color !important;
  }
  &__link:hover {
    color: darken($third-color, 20%) !important;
  }
}

.site-head-menu-nav-item__link {
  @include menu-link-transition;
  color: #bdbcbc;
  font-size: 1.8rem;
}

.site-head-menu-nav-item__link:hover {
  color: #bdbcbcc2;
}

@media (min-width: 768px) {
  .site-head-nav,
  .site-head-menu-nav {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .site-head {
    padding: 0.5rem 2.5rem;
  }
}
