@import './mixins';
@import './variables';

.site-head {
  background: $site-sec-color;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100vw;
}

.site-head-nav-container {
  @include flex;

  .site-head-nav {
    display: none;
    &__list {
      @include flex;
    }
  }

  &__link {
    color: #f5f4f4 !important;
  }

  &__logo {
    user-select: none;
    @include flex;
    flex: auto;
    font-family: $mont;
    margin-right: 0 !important;
    .logo-half {
      color: $sec-color !important;
    }
  }

  .header-item {
    margin-right: 16px;
  }

  .site-head-menu-nav {
    display: none;
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}

.site-head-menu-nav-item__link {
  font-size: 1.8rem;
  color: $main-color;
}

@media (min-width: 768px) {
  .site-head-nav,
  .site-head-menu-nav{
    display: block !important;
  }
}
