.stories-container {
  margin-bottom: $section-margin-bottom;
  padding: $section-left-right-padding;
  padding-top: $section-top-padding;
  .story {
    margin-bottom: $inner-section-margin-bottom;
    &__title {
      @include title-style;
    }
    &__name {
      color: #fafafa;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: $content-font-size;
      line-height: 1.5rem;
      word-spacing: 3px;
    }
  }
}
