.stories-container {
  margin-bottom: $section-margin-bottom;
  padding: $section-left-right-padding;
  padding-top: $section-top-padding;
  .story {
    margin-bottom: $inner-section-margin-bottom;
    &__title {
      @include title-style;
    }
    &__name {
      color: #eeeeee;
      font-size: 1.2rem;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: $content-font-size;
      line-height: 1.5rem;
      word-spacing: 3px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stories-container {
    padding: $section-left-right-padding--tablet;
    padding-top: $section-top-padding;
    .story {
      &__title {
        font-size: $h3-title-size--tablet;
      }
      &__name {
        font-size: 1.3rem;
      }
      &__text {
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }
  }
}

@media (min-width: 1281px) {
  .stories-container {
    padding: $section-left-right-padding--desktop;
    padding-top: $section-top-padding;
  }
}
