$main-color: #222831;
$site-sec-color: #4b505afb;
$sec-color: #ffd369;
$sec-color-light: #ffd2698f;
$sec-color-dark: #ffd269bb;
$third-color: #eeeeee;
$mont: 'Montserrat', sans-serif;
$h3-title-size: 1.4rem;
$content-font-size: 1.1rem;
$title-bottom-margin: 2rem;
$quote-img-margin-bottom: 1rem;
$quote-credit-margin-bottom: 0.7rem;
$section-margin-bottom: 10rem;
$section-margin-bottom--small: 5rem;
$section-left-right-padding: 0 1.5rem 0 1.5rem;
$section-left-right-padding--tablet: 0 2.5rem 0 2.5rem;
$section-left-right-padding--desktop: 0 5rem 0 5rem;
$section-top-padding: 5rem;
$inner-section-margin-bottom: 5rem;
$gray-border-bottom: 1px solid #454b55;
$title-border-bottom: 2px solid $sec-color-light;
$site-bg-1: linear-gradient(
  90deg,
  #222831,
  #2d343f,
  #2f3541
); // may be deleted.
$link-transition: color 100ms ease-in;
$section-max-width: 1500px;
