@import 'config', 'menu-bar', 'mixins', 'site-head', 'mobile-menu', "hero-section", "action-section", "social-links", "quote-section", "about-section", "stories-section", "footer";



.home-main {
  padding-top: 8rem;
}

.no-scroll {
  overflow: hidden;
}

.no-margin {
  margin: 0 !important;
}
