@import "./config", "./mixins", "./menu";


.site-header-menu-nav-item__link {
    font-size: 1.8rem;
}

/*  =============
    Layouts
    ============= */

/* Site Head */

.site-header {
    padding: 1rem 2rem;
}

.site-header-nav-container {

    @include flex;

    .site-header-nav {
        display: none;
        &__list {
            @include flex;
        }
    }
}

.site-header-nav-container__logo {
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
}

.site-header-menu-nav {
    align-items: center;
    display: flex;
}

.site-header-menu-nav__list {
    display: flex;
    justify-content: space-between;
}


/*  =============
    Other
    ============= */

.header-item {
    margin-right: 16px;
}

.site-header-nav-container__logo {
    margin-right: 0 !important;
}


